@import "../../assets/style/base";
@import "../../assets/style/palette";
@import "../../assets/style/mixins";

div.__description_content {
  @include themify() {
    color: themed("main-fg");
  }

  font-size: 18px;
  cursor: pointer;
  width: 100%;
  min-height: 20px;

  &.__editing {
    cursor: text;
  }

  &.__done,
  &.__cancelled {
    text-decoration: line-through 2px;
  }
}
