// a generally accepted bos shadow
$box-shadow: 0px 0px 3px 1px;

// render the background color of elements with hover and active capability slowly and nicely
$become: background-color 0.5s, opacity 0.5s ease !important;

// a generally accepted box radius or non-circular boxes
$box-radius: 5px;

// a spinner keyframe for loading or other major components
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
