$themes: (
  light: (
    body-bg: #f5fcff,
    card-bg: #ffffff,
    grey-bg: #e0e8eb,
    grey-fg: #73858c,
    main-fg: #002433,
  ),
  dark: (
    body-bg: #004966,
    card-bg: #006d99,
    grey-bg: #015b7d,
    grey-fg: #e0e8eb,
    main-fg: #f5fcff,
  ),
);
