$themes: (
  light: (
    body-bg: #f5fcff,
    card-bg: #ffffff,
    grey-bg: #e0e8eb,
    grey-fg: #73858c,
    main-fg: #002433,
  ),
  dark: (
    body-bg: #004966,
    card-bg: #006d99,
    grey-bg: #015b7d,
    grey-fg: #e0e8eb,
    main-fg: #f5fcff,
  ),
);

$tags: (
  '7CC979':'#7CC979',
  'FFB05A':'#FFB05A', 
  'EF5849':'#EF5849', 
  'C479DD':'#C479DD', 
  'F5FCFF':'#F5FCFF', 
  'AF7C2F':'#AF7C2F', 
  '00C3DE':'#00C3DE', 
  'FF94D3':'#FF94D3', 
  '324662':'#324662', 
  'B3BAC4':'#B3BAC4', 
  '43E79C':'#43E79C', 
  'F5D434':'#F5D434'
)