@import "../../assets/style/themify";
@import "../../assets/style/palette";
@import "../../assets/style/base";

// mobile
$width: 100vw;
.container {
  width: $width;
  padding: 0vw 0vw;
}

header {
  position: fixed;
  height: 10vh;
  z-index: 999;
  @include themify() {
    background-color: themed("card-bg");
    box-shadow: 0px 0px 3px 1px themed("grey-fg");
  }
}

main {
  position: fixed;
  top: 10vh;
  height: 80vh;
  @include themify() {
    background-color: themed("body-bg");
  }

  // handle overflow
  overflow-x: hidden;
  overflow-y: scroll;

  @include themify() {
    // scrollbar width
    &::-webkit-scrollbar {
      width: 5px;
    }
    // scrollbar handle
    &::-webkit-scrollbar-thumb {
      background-color: themed("grey-bg");
      &:hover {
        background-color: themed("grey-fg");
        cursor: pointer;
      }
    }
  }

  // hide the side-nav on mobile
  nav.side-nav {
    display: none;
  }
}

nav.bottom-nav {
  position: fixed;
  bottom: 0px;
  height: 10vh;
  z-index: 999;
  @include themify() {
    background: themed("card-bg");
    box-shadow: 0px 0px 3px 1px themed("grey-fg");
  }
}

// tablet
@media (min-width: 425px) {
  $width: 90vw;
  .container {
    width: $width;
    padding: 0vw 5vw;
  }
}

// desktop
@media (min-width: 768px) {
  $width: 60vw;
  .container {
    width: 60vw;
    padding: 0vw 20vw;
  }

  // hide bottom nav on desktop
  nav.bottom-nav {
    display: none;
  }

  main {
    height: 90vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    // show the side-nav on desktop
    nav.side-nav {
      display: block;
      position: fixed;
      width: 30%;
    }

    div.page {
      width: 70%;
      margin-left: 30%;
      height: max-content;
      min-height: 100%;
      @include themify() {
        border-left: 1px solid themed("grey-fg");
      }
    }

    // increase scrollbar width on desktop
    @include themify() {
      &::-webkit-scrollbar {
        width: 10px;
      }
    }
  }
}
