@import "../../assets/style/base";
@import "../../assets/style/themify";
@import "../../assets/style/palette";

.header {
  height: 100%;
  padding: 0px 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include themify() {
    color: themed("main-fg");
  }

  .header__title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .header__actions {
    a.__settings_btn {
      display: flex;
      align-items: center;
      justify-content: center;

      @include themify() {
        & {
          color: themed("main-fg");
          width: 40px;
          height: 40px;
          border-radius: 50%;
          transition: $become;
        }
        &:active,
        &:hover, &:focus-visible {
          background-color: themed("grey-bg");
          outline: unset;
        }
      }
    }
  }
}
