@import "../../assets/style/mixins";
@import "../../assets/style/base";

div.__welcome {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  @include themify() {
    background-color: themed("body-bg");
    color: themed("main-fg");
  }

  h1 {
    margin-bottom: 10px;
    font-size: xx-large;
  }

  a.__continue_link {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;

    background-color: transparent;
    transition: $become;

    &:focus-visible {
      outline: none;
    }

    @include themify() {
      color: themed("main-fg");

      &:hover,
      &:active {
        background-color: themed("grey-bg");
      }
    }
  }
}

.__A2HS {
  text-decoration: none;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;

  // background-color: transparent;
  transition: $become;
  
  &:focus-visible {
    outline: none;
  }
  
  @include themify() {
    color: themed("main-fg");
    background-color: themed("grey-bg");

    &:hover,
    &:active {
      background-color: themed("grey-bg");
    }
  }

  svg {
    margin-right: 5px;
  }
}
