body, button {
  margin: 0;
  /* font-family: 'Patrick Hand', cursive; */
  font-family: 'Roboto', sans-serif;
}

.hand-written {
  font-family: 'Patrick Hand', cursive;
}

*:focus-visible {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

p, h1, h2, h3, h4, h5, h6, img, ul, ol, li, a, body {
  margin: 0px;
  padding: 0px;
}