@import "../../../assets/style/base";
@import "../../../assets/style/themify";
@import "../../../assets/style/palette";

.side_nav {
  height: calc(100% - 15px);
  padding-top: 15px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  a.__nav_item {
    width: 100%;
    margin-bottom: 20px;
    text-decoration: none;
    transition: $become;

    @include themify() {
      color: themed("grey-fg");
      &.active {
        color: $primary;

        .__active_indicator {
          background-color: $primary;
        }
      }
      &:hover {
        background-color: themed("grey-bg");
      }
    }

    display: flex;
    justify-content: space-between;

    .__item {
      padding: 10px 0px;
      width: 100%;
      padding-left: 15px;

      display: flex;
      justify-content: flex-start;
      align-items: center;

      svg.__item_icon {
        margin-right: 10px;
      }

      .__item_title {
        font-weight: 500;
      }
    }

    $indicator-width: 6px;
    &.active > .__active_indicator {
      visibility: visible;
    }

    .__active_indicator {
      visibility: hidden;
      width: $indicator-width;
      height: 100%;
    }
  }
}
